<!DOCTYPE html>
<html lang="en">

<head>
  <title>{{ page.title }} | {{ site.name }}</title>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
  <meta name="author" content="{{ site.name }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
</head>

<body>
  <main class="site paper-page">
    <a class="back-link" href="{{ site.baseurl }}/">Kaijie Yin</a>
    <article class="paper-detail">
      <img class="paper-detail__image" src="{{ site.baseurl }}{{ page.image }}" alt="{{ page.title }}">
      <div>
        <h1>{{ page.title }}</h1>
        <p class="authors">{{ page.authors }}</p>
        <p class="venue"><em>{{ page.venue }}</em>, {{ page.date | date: "%Y" }}</p>
        <p class="paper-links">
          {% if page.arxiv %}<a href="{{ page.arxiv }}">Paper</a>{% endif %}
          {% if page.code %}<a href="{{ page.code }}">Code</a>{% endif %}
          {% if page.video %}<a href="{{ page.video }}">Video</a>{% endif %}
          {% if page.poster %}<a href="{{ page.poster }}">Poster</a>{% endif %}
          {% if page.slides %}<a href="{{ page.slides }}">Slides</a>{% endif %}
          {% if page.website %}<a href="{{ page.website }}">Website</a>{% endif %}
        </p>
        {{ content }}
      </div>
    </article>
  </main>
</body>

</html>
